@model Municipale.ViewModels.Home

<div class="d-flex">
    <div class="m-5">
        <h2>Aggiungi trasgressore se non già presente nella lista</h2>

        <form asp-action="Index" method="post">
            <div class="form-group">
                <label asp-for="Anagrafica.Cognome" class="control-label">Cognome</label>
                <input asp-for="Anagrafica.Cognome" class="form-control" minlenght="2" required/>
            </div>
            <div class="form-group">
                <label asp-for="Anagrafica.Nome" class="control-label">Nome</label>
                <input asp-for="Anagrafica.Nome" class="form-control" minlenght="2" required/>
            </div>
            <div class="form-group">
                <label asp-for="Anagrafica.Indirizzo" class="control-label">Indirizzo residenza</label>
                <input asp-for="Anagrafica.Indirizzo" class="form-control" minlenght="3" required />
            </div>
            <div class="form-group">
                <label asp-for="Anagrafica.Città" class="control-label">Città residenza</label>
                <input asp-for="Anagrafica.Città" class="form-control" minlenght="2" required />
            </div>
            <div class="form-group">
                <label asp-for="Anagrafica.CAP" class="control-label">CAP residenza</label>
                <input asp-for="Anagrafica.CAP" class="form-control" minlenght="5"  maxlenght="5" required/>
            </div>
            <div class="form-group">
                <label asp-for="Anagrafica.CF" class="control-label">Codice fiscale </label>
                <input asp-for="Anagrafica.CF" class="form-control"  minlenght="16" maxlenght="16" required/>
            </div>

            <button type="submit" class="btn btn-primary">Aggiungi trasgressore</button>
        </form>
    </div>

    <div class="m-5">
        <h2>Compila verbale</h2>

        <form asp-action="Details" method="post">
            <div class="form-group">
                <div class="form-group">
                    <label asp-for="Verbale.IDAgente" class="control-label">Agente</label>
                    <select asp-for="Verbale.IDAgente" class="form-control">
                        @foreach (var agente in Model.Agenti)
                        {
                            <option value="@agente.ID">@agente.Grado @agente.Cognome</option>
                        }
                    </select>
                </div>

                <div class="form-group">
                    <label asp-for="Verbale.IDTipoViolazione" class="control-label">Tipo Violazione</label>
                    <select asp-for="Verbale.IDTipoViolazione" class="form-control">
                        @foreach (var tipoViolazione in Model.TipiViolazione)
                        {
                            <option value="@tipoViolazione.ID">@tipoViolazione.Descrizione</option>
                        }
                    </select>
                </div>
                <label asp-for="Verbale.IDAnagrafe" class="control-label">Anagrafica</label>
                <select asp-for="Verbale.IDAnagrafe" class="form-control">
                    @foreach (var anagrafica in Model.Anagrafiche)
                    {
                        <option value="@anagrafica.ID">@anagrafica.Cognome @anagrafica.Nome</option>
                    }
                </select>
            </div>

            <div class="form-group">
                <label asp-for="Verbale.IndirizzoViolazione" class="control-label">Indirizzo violazione</label>
                <input asp-for="Verbale.IndirizzoViolazione" class="form-control" minlenght="3" required/>
            </div>

            <div class="form-group">
                <label asp-for="Verbale.Importo" class="control-label">Importo</label>
                <input type="number" asp-for="Verbale.Importo" class="form-control" minlenght="1" required />
            </div>

            <div class="form-group">
                <label asp-for="Verbale.DecurtamentoPunti" class="control-label">Punti decurtati</label>
                <input type="number" asp-for="Verbale.DecurtamentoPunti" class="form-control" maxlenght="20" />
            </div>

            <div class="form-group">
                <label asp-for="Verbale.DataTrascrizioneVerbale" class="control-label">Data verbale</label>
                <input id="data" asp-for="Verbale.DataTrascrizioneVerbale" class="form-control" required />
            </div>

            <button type="submit" class="btn btn-primary">Aggiungi Verbale</button>
        </form>
    </div>
</div>